{% extends "custom_base.jinja2" %}

{% block title %}
    About Issue Haven
{% endblock %}

{% block content %}
    {{ super() }}
    <main role="main" class="container top17">
        <div class="text-center bottom30">
            <h2>About Issue Haven</h2>
            <h4>Contributing to Open Source doesn't have to be difficult.</h4>
        </div>
        <hr>
        <div class="text-center w-50 mx-auto">
            <p>Contributing to Open Source projects shouldn't be difficult for newcomers, but finding a welcoming project to apply one's abilities can often be a daunting and difficult task.</p>
            <p><b>Issue Haven</b> addresses this issue by providing willing contributors with an automatically curated and categorized catalog of available issues from popular repositories on Github, sorted by language and type.</p>
            <p>Whether you're interested in contributing code, documentation, or graphics design, or are simply interested in expanding your portfolio and skills, <b>Issue Haven</b> makes it easy to quickly find interesting projects and issues and immerse yourself into Open Source software!</p>
        </div>
    </main>
{% endblock %}