{% extends "custom_base.jinja2" %}

{% block title %}
    Help with Documentation and Chores
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet"
          href="{{url_for('static', filename='addons.css')}}">
{% endblock %}

{% block content %}
    <main role="main" class="container text-center">
        <div>
            {% if language is not none %}
                <h1>Help projects written in {{ language }} with Documentation and Chores</h1>
            {% else %}
                <h1>Help projects with Documentation and Chores</h1>
            {%endif %}
            <p class="lead">Pick any task below and get working!</p>
        </div>
    </main>
    <div class="container mt-4">
        <div class="row justify-content-center">
            {% for chore in chores.items %}
                <div class="col-auto mb-3">
                    <div class="card border-primary h-100" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title"><b>{{chore.repo.name|e }}<span class="badge badge-primary badge-pill float-right">{{ chore.repo.language }}</span></b></h5>
                            <a href="{{ chore.url }}"><h5 class="card-subtitle mb-2 text-muted">{{ chore.title|e|truncate(60) }}</h5></a>
                            <p class="card-text"><b>{{ chore.category }} </b>| {{ chore.repo.total_stars }} stars, {{ chore.total_comments }} comments</p>
                            <p class="card-text">{{ chore.description|e|truncate(60) }}</p>
                        </div>
                    </div>
                </div>
            {%  endfor %}
        </div>
    </div>
    <div class="text-center">
        <div class="btn-group top17 bottom30" role="group" aria-label="Previous/Next Page">
            {% if chores.has_prev %}
                <a class="btn btn-primary" href={{ url_for("show_chores", page=chores.prev_num, language=language) }} role="button">Previous Page</a>
            {% else %}
                <button type="button" class="btn btn-primary" disabled>Previous Page</button>
            {% endif %}
            {% if chores.has_next %}
                <a class="btn btn-primary" href={{ url_for("show_chores", page=chores.next_num, language=language) }} role="button">Next Page</a>
            {% else %}
                <button type="button" class="btn btn-primary" disabled>Next Page</button>
            {% endif %}
        </div>
    </div>
{% endblock %}