{% extends "bootstrap/base.html" %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='addons.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Issue Haven</a>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Help with Code
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href={{ url_for("show_issues")}}>All Languages</a>
                        <div class="dropdown-divider"></div>
                        {% for language_name in languages %}
                            <a class="dropdown-item" href={{ url_for("show_issues", language=language_name)}}>{{ mappings[language_name] }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Help with Docs and Chores
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href={{ url_for("show_chores")}}>All Languages</a>
                        <div class="dropdown-divider"></div>
                        {% for language_name in languages %}
                            <a class="dropdown-item" href={{ url_for("show_chores", language=language_name)}}>{{ mappings[language_name] }}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a class="nav-item nav-link" href={{ url_for("contribute") }}><b>View this project on Github</b></a></li>
                <li><a class="nav-item nav-link" href={{ url_for("about") }}><b>About Issue Haven</b></a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    {{ super() }}
    {% block footer %}
            <footer class="footer">
        <hr>
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                <h5><b>Issue Haven</b></h5>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <h5>Get Started</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href={{ url_for("about") }}>About Issue Haven</a></li>
                    <li><a class="text-muted" href={{ url_for("show_issues") }}>Help with Code</a></li>
                    <li><a class="text-muted" href={{ url_for("show_chores") }}>Help with Documentation and Chores</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <h5>Popular Languages</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href={{ url_for("show_issues", language="py") }}><i class="fab fa-python"></i> Python</a></li>
                    <li><a class="text-muted" href={{ url_for("show_issues", language="js") }}><i class="fab fa-js-square"></i> JavaScript</a></li>
                    <li><a class="text-muted" href={{ url_for("show_issues", language="rb") }}><i class="fas fa-gem"></i> Ruby</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <h5>More Information</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href={{ url_for("refer") }}><i class="fab fa-digital-ocean"></i> Issue Haven runs on DigitalOcean</a></li>
                    <li><a class="text-muted" href={{ url_for("contribute") }}><i class="fab fa-github"></i> View on Github</a></li>
                    <li><a class="text-muted" href={{ url_for("donate") }}><i class="fas fa-money-check-alt"></i> Donate</a></li>
                </ul>
            </div>
            {#            <i class="fab fa-digital-ocean"></i>#}
        </div>
    </footer>
    {% endblock footer %}
{% endblock content %}