{% extends "bootstrap/base.html" %}
{% block title %}Welcome to Issue Haven!{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Issue Haven</a>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav mr-auto">
                <li><a href="/issues/1" class="nav-item nav-link">Find issues</a></li>
                <li><a href="#" class="nav-item nav-link">Help with documentation</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="https://github.com/MattAlp" class="nav-item nav-link"> Fork this project </a></li>
                <li><a href="#" class="nav-item nav-link"> Sign in with Github </a></li>
            </ul>
        </div>

    </nav>
{% endblock %}



{% block content %}
    <div class="container">
        <img src = "{{ url_for('static', filename='HeaderImageExplanation.png') }}" class = "img-responsive center-block">
        <div class="text-center">
                    <a href="https://github.com" class="btn btn-success btn-lg" role="button">Sign in with Github</a>
        </div>
    </div>
{% endblock %}