{% extends "custom_base.jinja2" %}
{% block title %}Welcome to Issue Haven!{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='addons.css')}}">
{% endblock %}

{% block content %}
    <main role="main" class="container text-center top17">
        <div>
            <h1>Contributing to Open Source doesn't have to be difficult.</h1>
            <p class="lead">Choose from <b>{{ total_repos }}</b> repositories containing <b>{{ total_issues }}</b> total issues on <b>Issue Haven</b></p>
        </div>
    </main>
{% endblock %}