{% extends "custom_base.jinja2" %}
{% block title %}Welcome to Issue Haven!{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='addons.css')}}">
{% endblock %}

{% block content %}
    <main role="main" class="container text-center top17">
        <div>
            <h1>Open Source doesn't have to be difficult.</h1>
            <p class="lead">Search through <b>{{ total }}</b> possible contributions on <b>Issue Haven</b> to kickstart your OSS career!</p>
        </div>
    </main>
{% endblock %}