{% extends "bootstrap/base.html" %}
{% block title %}Find an issue{% endblock %}


{% block navbar %}
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Issue Haven</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/issues">Find issues</a></li>
            <li><a href="#">Help with documentation</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/MattAlp"><span class="glyphicon glyphicon-random"></span> Fork this project</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Sign in with Github</a></li>
        </ul>
    </div>
{% endblock %}

{#Fun fact: bootstrap 3 doesn't support cards, and is also coincidentally what Flask-Bootstrap uses haha :'(#}

{% block content %}
    <div class="container">
            {% for issue in issues %}
                {% if (loop.index0 + 1 ) % 3 == 0 %}
                    <div class="row">
                {% endif %}
                <div class="col-md-4">
                    <div class="card border-primary" style="width: 24rem;">
                        <div class="card-body">
                            <h4 class="card-title"><strong>{{issue.repo.name|e }}</strong></h4>
                            <a href="{{ issue.url }}"><h5 class="card-subtitle mb-2 text-muted">{{ issue.title|e|truncate(60) }}</h5></a>
                            <p class="card-text">{{ issue.description|e|truncate(60) }}</p>
{#                            <a href="{{ issue.url }}" class="btn btn-primary center-block">Check it out!</a>#}
                        </div>
                    </div>
                </div>
                {% if (loop.index0 + 1 ) % 3 == 0 %}
                    </div>
                {% endif %}
            {%  endfor %}
    </div>
{% endblock %}